[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
crowdfunding = "FKcv5xRMK7eF3uZx5YTVchMPoGsWhcxvdjE61t8RSNew"

[programs.devnet]
crowdfunding = "FKcv5xRMK7eF3uZx5YTVchMPoGsWhcxvdjE61t8RSNew"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
